body {
	background-color: #67657B;
	margin: 0px;
	padding: 0px;
}

canvas { 
	background: #eee; 
	display: block; 
	margin: 0 auto; 
}

#game_area {
	width: 1004px;
	margin: auto;
	padding: 0px;
	position: relative;
	background-color: #5C5893;
}

#player_game_table {
	left: 173px;
	top: 98px;
	
}

#player_game_table > tbody > tr > td {
	width: 23px;
	height: 23px;
	cursor: pointer;
}

#player_game_table > thead > tr > td > p,
#player_game_table > tbody > tr > td > p {
	color: #ffffff;
	font-size: 8px;
	text-align: center;
}

#another_player_game_table {
	left: 173px;
	top: 98px;

	
}
#another_player_game_table > tbody > tr > td {
	width: 23px;
	height: 23px;
	cursor: pointer;
}

#another_player_game_table > thead > tr > td > p,
#another_player_game_table > tbody > tr > td > p {
	color: #ffffff;
	font-size: 8px;
	text-align: center;
}
