<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/templates/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/templates/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title>Ты ПРОИГРАЛ!!!</title>
    <style>
   body {
    background: url(https://cs4.pikabu.ru/post_img/2016/08/01/5/og_og_147003768028213609.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
   }
  </style>
</head>
<body>
<a id="shot_lose" class="buttl" type="button">Again</a>
</body>
</html>