<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/templates/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/templates/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title>Ты ПОБЕДИЛ!!!</title>
    <style>
   body {
    background: url(https://a.d-cd.net/628bb41s-1920.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
   }
  </style>
</head>
<body>
<a id="shot_win" class="butt" type="button">Again</a>
</body>
</html>